application.name                        {{ ATL_CROWD_APP_NAME }}
application.password                    {{ ATL_CROWD_APP_PASSWORD }}
application.login.url                   {{ ATL_CROWD_BASE_URL }}/console/

crowd.server.url                        {{ ATL_CROWD_BASE_URL }}services/
crowd.base.url                          {{ ATL_CROWD_BASE_URL }}

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              2
session.lastvalidation                  session.lastvalidation
cookie.tokenkey                         crowd.token_key