{% raw %}<%@ page import="com.atlassian.jira.component.ComponentAccessor" %>
<%@ page import="com.atlassian.jira.util.mobile.JiraMobileUtils" %>
<%@ taglib uri="webwork" prefix="ww" %>
<%@ taglib uri="webwork" prefix="ui" %>
<%@ taglib prefix="page" uri="sitemesh-page" %>
<html>
<head>
	<title><ww:text name="'common.words.login.caps'"/></title>
    <meta name="decorator" content="login" />{% endraw %}
	<script type="text/javascript">
	  var ssoUrl = '{{ CUSTOM_SSO_LOGIN_URL | default('') | replace("'", "\\'") }}';
	  var contextPath = '{{ ATL_TOMCAT_CONTEXTPATH | default('') | replace("'", "\\'") }}';
		
	  var url = new URL(window.location.href);
	  var osDestination = url.searchParams.get("os_destination");
	  var autoLogin = url.searchParams.get("auto_login");
	  if (autoLogin === null || autoLogin === undefined) {
	    autoLogin = "true";
	  }
		
	  osDestination = osDestination ? osDestination : "";
	  
	  function login() {
	    window.location.replace(ssoUrl + '?redirectTo=' + encodeURIComponent('https://' + window.location.host + contextPath + osDestination));
	  }

	  var loginLoopCheck = getCookie("loginLoopCheck");
	  
	  if (!loginLoopCheck) {
	    setCookie("loginLoopCheck", "true", contextPath, 1 * 60 * 1000);
	  } else {
	    autoLogin = false;
	  }
	  
	  if (autoLogin && autoLogin.toLowerCase() === "true") {
		login();
	  }

	  function setCookie(name, value, path, lifeLength) {
	    var expires = "";
	    var date = new Date();
	    date.setTime(date.getTime() + lifeLength);
	    expires = "; expires=" + date.toUTCString();
	    document.cookie = name + "=" + (value || "") + expires + "; path=" + path;
	  }
	  
	  function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
		    c = c.substring(1, c.length);
		  }
          if (c.indexOf(nameEQ) == 0) {
		    return c.substring(nameEQ.length, c.length);
		  }
        }
        return null;
      }
	  
	</script>{% raw %}
</head>
<body>
<a href="#" onclick="login()">Click Here to Login</a>
</body>
</html>{% endraw %}
